.footerContainer {
  background-color: #f8f9fa;
  text-align: center;
  padding-top: 30px;
  margin-top: 60px;
  padding-bottom: 20px;
}

.buttonMargin {
  margin: 0 5px;
}

.linkRemoveDec {
  color: #6c757d;
  text-decoration: none;
}

.linkRemoveDec:hover {
  color: #fda198;
}

.lowerMargin {
  margin-bottom: -3px;
}

.navBarContainer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 75px;
}

.mainHContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(62, 139, 154);
  color: white;
  text-align: center;
  width: 95%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
  rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

@media only screen and (max-width: 870px) {
  .marginIfSm {
    margin-bottom: 30px;
  }
}